<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %> - Error 404</title>
</head>

<body class="err404">

    <%- include('../include/header')  %>

    <main>
        <h1>Error 404</h1>
        <h2>Route '<%= url %>' not found</h2>

        <a href="javascript:history.back()">BACK</a>
    </main>

    <%- include('../include/footer')  %>

    <!-- <script src="/assets/js/main.js"></script> -->
</body>

</html>